h1{

    text-align: right;


}
h2{

}


.forma{

    width: 500px;
    height: 200px;
    font: 20px;
    padding: 5px;
    margin: auto;
    text-align: center;

}

.color{

background-color: aqua;



}